<footer class="d-flex flex-column justify-content-center align-items-center mt-2" style="height: auto; background-color: #ab9675d4; width: 100%; font-weight: bold; padding: 10px;">
  <p style="margin: 0;">Copyright &copy; 2022 - Pio Factory. Todos los derechos reservados.</p>
  <div class="rr-ss-container-responsive d-flex justify-content-between align-items-center">
    <a class="logo-tiktok" target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com/@pio_factory?_t=8lycBkqp5gT&_r=1"><img
        src="https://static.vecteezy.com/system/resources/previews/018/930/463/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"
        alt="Logo de tiktok" height="50"></a>
    <a class="logo-facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=61557375684771&mibextid=LQQJ4d"><img
        src="https://en.followersnet.com/wp-content/uploads/2016/02/Facebook-1.png" alt="Logo de Facebook"
        height="50"></a>
    <a class="logo-instagram" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/pio_factory_?igsh=MXN6a2dweGljNGI3eg=="><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/large_2x/instagram-logo-instagram-icon-transparent-free-png.png"
        alt="Logo de Instagram" height="60"></a>
    <a class="logo-whatsapp" target="_blank" rel="noopener noreferrer" href="https://wa.link/2h7sd0"><img
        src="https://static.vecteezy.com/system/resources/previews/024/398/617/non_2x/whatsapp-logo-icon-isolated-on-transparent-background-free-png.png"
        alt="Logo de Whatsapp" height="50"></a>
    <a class="logo-telegram" target="_blank" rel="noopener noreferrer" href="https://t.me/PIO_FACTORY"><img
        src="https://static.vecteezy.com/system/resources/previews/018/930/479/non_2x/telegram-logo-telegram-icon-transparent-free-png.png"
        alt="Logo de telegram" height="50"></a>
  </div>
</footer>