<footer class="d-flex justify-content-center align-items-center mt-2" style="height: 50px; background-color: #222222; color: #fff; width: 100%;">
  <p style="margin: 0;">Copyright &copy; 2022 - Pio Factory. Todos los derechos reservados.</p>
</footer>