<nav class="navbar navbar-expand-lg sticky-top justify-content-center w-100" style="background-color: #222222;" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/logo pio.png" alt="Logo" height="30">
      PIO Factory
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 justify-content-end align-items-center">
        <div class="nav-container-options">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hombres
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/landing/jackets/men">Chaquetas</a></li>
            <li><a class="dropdown-item" href="/landing/jeans/men">Jeans</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mujeres
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/landing/jackets/women">Chaquetas</a></li>
            <li><a class="dropdown-item" href="/landing/jeans/women">Jeans</a></li>
          </ul>
        </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
{{!-- <div class="marquee mb-3">
  <p>
    PIO Factory
  </p>
</div> --}}