<div class="first-slide-wrapper mt-3">
  <section class="splide" id="first-slide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="image-container">
            <div class="principal" style="font-weight: bold;">
              Jeans azul oscuro  <br />
              <small>¡En nuestra nueva colección!</small>
            </div>
            <img src="first-slide/1-first-slide.jpg" alt="1">
          </div>
        </li>
        <li class="splide__slide">
          <a href="/jeans/7?promotion=true" class="image-container">
            <div class="principal" style="font-weight: bold;">
              Jeans azul oscuro <br />
              <small>¡En promoción!</small>
            </div>
            <img src="first-slide/2-first-slide.JPEG" alt="2">
          </a>
        </li>
        <li class="splide__slide">
          <a href="/jeans/8?promotion=true" class="image-container">
            <div class="principal" style="font-weight: bold;">
              Jeans azul oscuro <br />
              <small>¡En promoción!</small>
            </div>
            <img src="first-slide/3-first-slide.jpg" alt="3">
          </a>
        </li>
        <li class="splide__slide">
          <div class="image-container">
            <div class="principal" style="font-weight: bold;">
              Jeans azules <br />
              ¡En nuestra nueva colección!
            </div>
            <img src="first-slide/4-first-slide.jpg" alt="4">
          </div>
        </li>
        <li class="splide__slide">
          <a href="/jeans/9?promotion=true"  class="image-container">
            <div class="principal" style="font-weight: bold;">
              Jeans azul cielo <br />
              <small>¡En promoción!</small>
            </div>
            <img src="first-slide/5-first-slide.JPEG" alt="5">
          </a>
        </li>
        <li class="splide__slide">
          <a href="/jeans/10?promotion=true" class="image-container">
            <div class="principal" style="font-weight: bold;">
              Jeans negros <br />
              <small>¡En promoción!</small>
            </div>
            <img src="first-slide/6-first-slide.jpg" alt="5">
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
<h2>Nueva colección Jeans</h2>
<section class="splide" id="second-slide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
        <a href="/jeans/1" class="image-container">
          <img src="second-slide/3-second-slide.jpg" alt="3">
          <img class="image-appear" src="second-slide/3.1-second-slide.jpg" alt="3">
          <p>$90.000</p>
        </a>
      </li>
			<li class="splide__slide">
        <a href="/jeans/2" class="image-container">
          <img src="second-slide/2-second-slide.jpg" alt="2">
          <img class="image-appear" src="second-slide/2.1-second-slide.JPEG" alt="2">
          <p>$110.000</p>
        </a>
      </li>
			<li class="splide__slide">
        <a href="/jeans/3" class="image-container">
          <img src="second-slide/3-second-slide.jpg" alt="3">
          <img class="image-appear" src="second-slide/3.1-second-slide.jpg" alt="3">
          <p>$90.000</p>
        </a>
      </li>
			<li class="splide__slide">
        <a href="/jeans/4" class="image-container">
          <img src="second-slide/4-second-slide.jpg" alt="4">
          <img class="image-appear" src="second-slide/4.1-second-slide.jpg" alt="4">
          <p>$30.000</p>
        </a>
      </li>
			<li class="splide__slide">
        <a href="/jeans/5" class="image-container">
          <img src="second-slide/5-second-slide.jpg" alt="5">
          <img class="image-appear" src="second-slide/5.1-second-slide.jpg" alt="5">
          <p>$150.000</p>
        </a>
      </li>
			<li class="splide__slide">
        <a href="/jeans/6" class="image-container">
          <img src="second-slide/6-second-slide.jpg" alt="6">
          <img class="image-appear" src="second-slide/6.1-second-slide.jpg" alt="6">
          <p>$110.000</p>
        </a>
      </li>
		</ul>
  </div>
</section>
<h2>Nueva colección chaquetas</h2>
<section class="splide" id="third-slide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
        <a href="/jackets/1" class="image-container">
          <img src="third-slide/1-third-slide.jpg" alt="1">
          <img class="image-appear" src="third-slide/1.1-third-slide.jpg" alt="1">
          <p>$100.000</p>
        </a>
      </li>
			<li class="splide__slide">
        <a href="/jackets/2" class="image-container">
          <img src="third-slide/2-third-slide.JPEG" alt="2">
          <img class="image-appear" src="third-slide/2.1-third-slide.JPEG" alt="2">
          <p>$110.000</p>
        </a>
      </li>
			<li class="splide__slide">
        <a href="/jackets/1" class="image-container">
          <img src="third-slide/1-third-slide.jpg" alt="1">
          <img class="image-appear" src="third-slide/1.1-third-slide.jpg" alt="1">
          <p>$100.000</p>
        </a>
      </li>
			<li class="splide__slide">
        <a href="/jackets/2" class="image-container">
          <img src="third-slide/2-third-slide.JPEG" alt="2">
          <img class="image-appear" src="third-slide/2.1-third-slide.JPEG" alt="2">
          <p>$110.000</p>
        </a>
      </li>
      <li class="splide__slide">
        <a href="/jackets/1" class="image-container">
          <img src="third-slide/1-third-slide.jpg" alt="1">
          <img class="image-appear" src="third-slide/1.1-third-slide.jpg" alt="1">
          <p>$100.000</p>
        </a>
      </li>
			<li class="splide__slide">
        <a href="/jackets/2" class="image-container">
          <img src="third-slide/2-third-slide.JPEG" alt="2">
          <img class="image-appear" src="third-slide/2.1-third-slide.JPEG" alt="2">
          <p>$110.000</p>
        </a>
      </li>
		</ul>
  </div>
</section>
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    const opt = {
      type   : 'loop',
      drag   : 'free',
      snap   : true,
      perPage: 3,
      perMove: 1,
      autoplay: true,
      pagination: false,
      gap: 20,
    }
    let splide = new Splide( '#first-slide', {
      type   : 'loop',
      drag   : 'free',
      snap   : true,
      perPage: 2,
      autoplay: true,
      pagination: false,
      gap: 20,
    });
    let splide2 = new Splide( '#second-slide', opt);
    let splide3 = new Splide( '#third-slide', opt);

    splide.mount();
    splide2.mount();
    splide3.mount()
  } );
</script>