<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=PT+Sans:wght@400;700&display=swap"
    rel="stylesheet">
  <title>PIO Landing Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body class="d-flex flex-column justify-content-center align-items-center text-center position-relative">
  {{> nav}}
  <div class="rr-ss-container d-flex flex-column justify-content-between align-items-center fixed-bottom start-0">
    <a class="logo-instagram" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/pio_factory_?igsh=MXN6a2dweGljNGI3eg=="><img src="https://static.vecteezy.com/system/resources/previews/018/930/413/large_2x/instagram-logo-instagram-icon-transparent-free-png.png"
        alt="Logo de Instagram" height="60"></a>
    <a class="logo-facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=61557375684771&mibextid=LQQJ4d"><img
        src="https://en.followersnet.com/wp-content/uploads/2016/02/Facebook-1.png" alt="Logo de Facebook"
        height="50"></a>
    <a class="logo-tiktok" target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com/@pio_factory?_t=8lycBkqp5gT&_r=1"><img
        src="https://static.vecteezy.com/system/resources/previews/018/930/463/non_2x/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png"
        alt="Logo de tiktok" height="50"></a>
    <a class="logo-telegram" target="_blank" rel="noopener noreferrer" href="https://t.me/PIO_FACTORY"><img
        src="https://static.vecteezy.com/system/resources/previews/018/930/479/non_2x/telegram-logo-telegram-icon-transparent-free-png.png"
        alt="Logo de telegram" height="50"></a>
    <a class="logo-whatsapp" target="_blank" rel="noopener noreferrer" href="https://wa.link/2h7sd0"><img
        src="https://static.vecteezy.com/system/resources/previews/024/398/617/non_2x/whatsapp-logo-icon-isolated-on-transparent-background-free-png.png"
        alt="Logo de Whatsapp" height="50"></a>
  </div>
  {{{body}}}
  {{> footer}}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
</body>

</html>