.container-all-products {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.container-all-collections {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.container-all-products img {
  border-radius: 5px;
}

.container-all-collections img {
  border-radius: 5px;
}

.card {
  width: 200px;
}

.card p {
  margin-bottom: 0;
}

@media screen and (max-width: 835px) {
  form {
    width: 50% !important;
  }

  .container-all-collections {
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}


@media screen and (max-width: 720px) {
  form {
    width: 50% !important;
  }

  .container-all-products {
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .container-all-collections {
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .card {
    width: 150px;
  }
}
